

$secondary: #6c757d;
$dark: #343a40;
$line-height: 1px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/material-icons/iconfont/material-icons.css';

$primary: #98f18283;

$theme-colors: (
    "primary": $primary,
);

body {
    margin: 0;
    padding: 0;
    background-color: $primary;
}

.accordion {
    background-color: $dark;
    color: $secondary;
    border: 1px solid $secondary;
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

// .btn-bd-primary {
//     --bs-btn-color: var(--bs-white);
//   }